/* ==UserStyle==
@name           Rosepine-GitHub
@namespace      github.com
@version        0.0.1
@description    Rosepine Theme for GitHub based on yurismds10's Gruvbox-Github style
@author         chris4727
==/UserStyle== */

@-moz-document url-prefix("https://github.com/"), url-prefix("https://gist.github.com") {
  :root {
    --bg0_h: #191724;
    --bg0: #191724;
    --bg1: #1f1d2e;
    --bg2: #26233a;
    --bg3: #26233a;
    --bg4: #26233a;

    --fg0: #e0def4;
    --fg1: #908caa;
    --fg2: #6e6a86;
    --fg3: #6e6a86;
    --fg4: #6e6a86;

    --black: var(--bg0);
    --white: var(--fg0);
    --gray: var(--fg2);
    --red: #eb6f92;
    --orange: #f29a86;
    --yellow: #f6c177;
    --green: #b6daa1;
    --aqua: #9ccfd8;
    --blue: #31748f;
    --magenta: #c4a7e7;
	--pink: #ebbcba;

    --bright_black: var(--bg0);
    --bright_white: var(--fg0);
    --bright_gray: var(--fg2);
    --bright_red: #eb6f92;
    --bright_orange: #f29a86;
    --bright_yellow: #f6c177;
    --bright_green: #b6daa1;
    --bright_aqua: #9ccfd8;
    --bright_blue: #31748f;
    --bright_magenta: #c4a7e7;
    
		--darkness_accent: #ff0000;
		--dark_accent: #ff0000;
    --accent: var(--blue);
    --bright_accent: var(--bg3);

    --color-ansi-black: var(--black) !important;
    --color-ansi-white: var(--white) !important;
    --color-ansi-gray: var(--gray) !important;
    --color-ansi-red: var(--red) !important;
    --color-ansi-orange: var(--orange) !important;
    --color-ansi-yellow: var(--yellow) !important;
    --color-ansi-green: var(--green) !important;
    --color-ansi-cyan: var(--aqua) !important;
    --color-ansi-blue: var(--blue) !important;
    --color-ansi-magenta: var(--magenta) !important;

    /*=== === === Background Colors === === ===*/
    --bgColor-default: var(--bg0) !important;
    --bgColor-muted: var(--bg0) !important;
    --bgColor-inset: var(--bg1) !important;
    --bgColor-emphasis: var(--bg4) !important;
    --bgColor-inverse: var(--fg0) !important;
    --bgColor-white: var(--fg0) !important;
    --bgColor-black: var(--bg0) !important;
    --bgColor-disabled: var(--gray) !important;
    --bgColor-transparent: #00000000 !important;
    --bgColor-neutral-muted: var(--bg3) !important;
    --bgColor-neutral-emphasis: var(--gray) !important;
    --bgColor-accent-muted: var(--accent) !important;
    --bgColor-accent-emphasis: var(--accent) !important;
    --bgColor-success-muted: var(--green) !important;
    --bgColor-success-emphasis: var(--green) !important;
    --bgColor-attention-muted: var(--yellow) !important;
    --bgColor-attention-emphasis: var(--yellow) !important;
    --bgColor-severe-muted: var(--orange) !important;
    --bgColor-severe-emphasis: var(--orange) !important;
    --bgColor-danger-muted: var(--red) !important;
    --bgColor-danger-emphasis: var(--red) !important;
    --bgColor-open-muted: var(--blue) !important;
    --bgColor-open-emphasis: var(--blue) !important;
    --bgColor-closed-muted: # !important;
    --bgColor-closed-emphasis: var(--red) !important;
    --bgColor-done-muted: # !important;
    --bgColor-done-emphasis: var(--accent) !important;
    --bgColor-upsell-muted: # !important;
    --bgColor-upsell-emphasis: var(--accent) !important;
    --bgColor-sponsors-muted: var(--magenta) !important;
    --bgColor-sponsors-emphasis: var(--magenta) !important;

    /*=== === === Foreground Colors === === ===*/
    --fgColor-default: var(--fg0) !important;
    --fgColor-muted: var(--fg2) !important;
    --fgColor-onEmphasis: var(--fg0) !important;
    --fgColor-white: var(--fg0) !important;
    --fgColor-black: var(--bg0) !important;
    --fgColor-disabled: var(--bg3) !important;
    --fgColor-link: var(--magenta) !important;
    --fgColor-neutral: var(--gray) !important;
    --fgColor-accent: var(--accent) !important;
    --fgColor-success: var(--green) !important;
    --fgColor-attention: var(--yellow) !important;
    --fgColor-severe: var(--orange) !important;
    --fgColor-danger: var(--red) !important;
    --fgColor-open: var(--magenta) !important;
    --fgColor-closed: var(--red) !important;
    --fgColor-done: var(--blue) !important;
    --fgColor-upsell: var(--blue) !important;
    --fgColor-sponsors: var(--aqua) !important;

    /*=== === === Avatar Colors === === ===*/
    --avatar-bgColor: var(--bg0) !important;
    --avatar-borderColor: var(--bg1) !important;
    --avatar-shadow: -2px -2px 0 #1d2020 !important;
    --avatarStack-fade-bgColor-default: var(--bg1) !important;
    --avatarStack-fade-bgColor-muted: var(--bg1) !important;

    /*=== === === Calendar Colors === === ===*/
    --color-calendar-halloween-graph-day-L1-bg: var(--darkness_accent) !important;
    --color-calendar-halloween-graph-day-L2-bg: var(--dark_accent) !important;
    --color-calendar-halloween-graph-day-L3-bg: var(--accent) !important;
    --color-calendar-halloween-graph-day-L4-bg: var(--bright_accent) !important;

    --color-calendar-winter-graph-day-L1-bg: var(--darkness_accent) !important;
    --color-calendar-winter-graph-day-L2-bg: var(--dark_accent) !important;
    --color-calendar-winter-graph-day-L3-bg: var(--accent) !important;
    --color-calendar-winter-graph-day-L4-bg: var(--bright_accent) !important;

    --color-calendar-graph-day-bg: var(--bg0) !important;
    --color-calendar-graph-day-border: transparent !important;
    --color-calendar-graph-day-L1-bg: var(--darkness_accent) !important;
    --color-calendar-graph-day-L2-bg: var(--dark_accent) !important;
    --color-calendar-graph-day-L3-bg: var(--accent) !important;
    --color-calendar-graph-day-L4-bg: var(--bright_accent) !important;
    --color-calendar-graph-day-L1-border: transparent !important;
    --color-calendar-graph-day-L2-border: transparent !important;
    --color-calendar-graph-day-L3-border: transparent !important;
    --color-calendar-graph-day-L4-border: transparent !important;
		
		/*=== === === Border Colors === === ===*/
    --borderColor-default: var(--bg3) !important;
    --borderColor-muted: var(--bg3);
    --borderColor-emphasis: var(--fg4);
    --borderColor-disabled: var(--bg1);
    --borderColor-transparent: #00000000;
    --borderColor-neutral-muted: var(--bg1);
    --borderColor-neutral-emphasis: var(--bg3);
    --borderColor-accent-muted: var(--accent);
    --borderColor-accent-emphasis: var(--bright_accent) !important;
    --borderColor-success-muted: var(--green);
    --borderColor-success-emphasis: var(--cyan) !important;
    --borderColor-attention-muted: var(--yellow);
    --borderColor-attention-emphasis: var(--yellow) !important;
    --borderColor-severe-muted: var(--orange);
    --borderColor-severe-emphasis: var(--orange) !important;
    --borderColor-danger-muted: var(--red);
    --borderColor-danger-emphasis: var(--red) !important;
    --borderColor-open-muted: var(--blue);
    --borderColor-open-emphasis: var(--blue) !important;
    --borderColor-closed-muted: var(--red) !important;
    --borderColor-closed-emphasis: var(--red) !important;
    --borderColor-done-muted: var(--accent) !important;
    --borderColor-done-emphasis: var(--accent) !important;
    --borderColor-upsell-muted: var(--accent) !important;
    --borderColor-upsell-emphasis: var(--accent) !important;
    --borderColor-sponsors-muted: var(--accent) !important;
    --borderColor-sponsors-emphasis: var(--accent) !important;

    /*=== === === Buttons Colors === === ===*/
    --button-default-fgColor-rest: var(--fg2) !important;
    --button-default-bgColor-rest: var(--bg2) !important;
    --button-default-bgColor-hover: var(--bg1) !important;
    --button-default-bgColor-active: var(--magenta) !important;
    --button-default-bgColor-selected: var(--aqua) !important;
    --button-default-bgColor-disabled: var(--bg1) !important;
    --button-default-borderColor-rest: var(--bg3) !important;
    --button-default-borderColor-hover: var(--bg0) !important;
    --button-default-borderColor-active: var(--bg1) !important;
    --button-default-borderColor-disabled: var(--bg1) !important;
    --button-default-shadow-resting: 0px 0px 0px 0px #000000 !important;

    --button-primary-fgColor-rest: var(--fg0) !important;
    --button-primary-fgColor-disabled: var(--fg2) !important;
    --button-primary-iconColor-rest: var(--fg0) !important;
    --button-primary-bgColor-rest: var(--accent) !important;
    --button-primary-bgColor-hover: var(--bright_accent) !important;
    --button-primary-bgColor-active: var(--accent) !important;
    --button-primary-bgColor-disabled: var(--bg2) !important;
    --button-primary-borderColor-rest: var(--accent) !important;
    --button-primary-borderColor-hover: var(--bg3) !important;
    --button-primary-borderColor-active: var(--bg1) !important;
    --button-primary-borderColor-disabled: var(--bg1) !important;
    --button-primary-shadow-selected: 0 0 transparent !important;

    --button-invisible-fgColor-rest: var(--fg0) !important;
    --button-invisible-fgColor-hover: var(--fg0) !important;
    --button-invisible-fgColor-disabled: var(--fg3) !important;
    --button-invisible-iconColor-rest: var(--fg0) !important;
    --button-invisible-iconColor-hover: var(--fg0) !important;
    --button-invisible-iconColor-disabled: var(--fg3) !important;
    --button-invisible-bgColor-rest: #00000000 !important;
    --button-invisible-bgColor-hover: var(--bright_accent) !important;
    --button-invisible-bgColor-active: var(--accent) !important;
    --button-invisible-bgColor-disabled: var(--bg2) !important;
    --button-invisible-borderColor-rest: #00000000 !important;
    --button-invisible-borderColor-hover: #0000 !important;
    --button-invisible-borderColor-disabled: var(--bg3) !important;

    --button-outline-fgColor-rest: var(--aqua) !important;
    --button-outline-fgColor-hover: var(--aqua) !important;
    --button-outline-fgColor-active: var(--fg0) !important;
    --button-outline-fgColor-disabled: var(--fg3) !important;
    --button-outline-bgColor-rest: var(--bg2) !important;
    --button-outline-bgColor-hover: var(--bg3) !important;
    --button-outline-bgColor-active: var(--bg3) !important;
    --button-outline-bgColor-disabled: var(--bg0) !important;
    --button-outline-borderColor-hover: var(--bg2) !important;
    --button-outline-borderColor-selected: var(--bg3) !important;
    --button-outline-shadow-selected: 0 0 transparent !important;

    --button-danger-fgColor-rest: var(--red) !important;
    --button-danger-fgColor-hover: var(--fg0) !important;
    --button-danger-fgColor-active: var(--fg0) !important;
    --button-danger-fgColor-disabled: var(--fg1) !important;
    --button-danger-iconColor-rest: var(--red) !important;
    --button-danger-iconColor-hover: var(--fg0) !important;
    --button-danger-bgColor-rest: var(--red) !important;
    --button-danger-bgColor-hover: var(--red) !important;
    --button-danger-bgColor-active: var(--red) !important;
    --button-danger-bgColor-disabled: var(--bg2) !important;
    --button-danger-borderColor-rest: var(--fg4) !important;
    --button-danger-borderColor-hover: var(--fg0) !important;
    --button-danger-borderColor-active: var(--fg0) !important;
    --button-danger-shadow-selected: 0 0 transparent !important;
		
		--button-inactive-fgColor:                                 var(--color-fg-default) !important;
  --button-inactive-bgColor:                                 var(--color-bg3-default) !important;
  --button-star-iconColor:                                   var(--color-ansi-yellow) !important;

    --codeMirror-fgColor: var(--bright_aqua) !important;
    --codeMirror-bgColor: var(--bg0) !important;
    --codeMirror-gutters-bgColor: var(--bg0_h) !important;
    --codeMirror-gutterMarker-fgColor-default: var(--bg0) !important;
    --codeMirror-gutterMarker-fgColor-muted: var(--fg4) !important;
    --codeMirror-lineNumber-fgColor: var(--gray) !important;
    --codeMirror-cursor-fgColor: var(--fg0) !important;
    --codeMirror-selection-bgColor: #a5a64e66 !important;
    --codeMirror-activeline-bgColor: #b4b64933 !important;
    --codeMirror-matchingBracket-fgColor: var(--bright_aqua) !important;
    --codeMirror-lines-bgColor: var(--bg0_h) !important;
    --codeMirror-syntax-fgColor-comment: var(--gray) !important;
    --codeMirror-syntax-fgColor-constant: var(--bright_orange) !important;
    --codeMirror-syntax-fgColor-entity: var(--bright_magenta) !important;
    --codeMirror-syntax-fgColor-keyword: var(--bright_red) !important;
    --codeMirror-syntax-fgColor-storage: var(--bright_red) !important;
    --codeMirror-syntax-fgColor-string: var(--bright_yellow) !important;
    --codeMirror-syntax-fgColor-support: var(--bright_magenta) !important;
    --codeMirror-syntax-fgColor-variable: var(--bright_orange) !important;

    --color-prettylights-syntax-comment: var(--gray) !important;
    --color-prettylights-syntax-constant: var(--bright_orange) !important;
    --color-prettylights-syntax-constant-other-reference-link: var(--bright_blue) !important;
    --color-prettylights-syntax-entity: var(--bright_aqua) !important;
    --color-prettylights-syntax-storage-modifier-import: var(--bright_orange) !important;
    --color-prettylights-syntax-entity-tag: var(--bright_aqua) !important;
    --color-prettylights-syntax-keyword: var(--bright_red) !important;
    --color-prettylights-syntax-string: var(--bright_yellow) !important;
    --color-prettylights-syntax-variable: var(--bright_red) !important;
    --color-prettylights-syntax-brackethighlighter-unmatched: var(--red) !important;
    --color-prettylights-syntax-brackethighlighter-angle: var(--black);
    --color-prettylights-syntax-invalid-illegal-text: var(--fg0) !important;
    --color-prettylights-syntax-invalid-illegal-bg: var(--red) !important;
    --color-prettylights-syntax-carriage-return-text: var(--fg0) !important;
    --color-prettylights-syntax-carriage-return-bg: var(--bright_red) !important;
    --color-prettylights-syntax-string-regexp: var(--bright_aqua) !important;
    --color-prettylights-syntax-markup-list: var(--bg3) !important;
    --color-prettylights-syntax-markup-heading: var(--bg2) !important;
    --color-prettylights-syntax-markup-italic: var(--bg2) !important;
    --color-prettylights-syntax-markup-bold: var(--bg2) !important;
    --color-prettylights-syntax-markup-deleted-text: var(--bright_orange) !important;
    --color-prettylights-syntax-markup-deleted-bg: var(--fg0) !important;
    --color-prettylights-syntax-markup-inserted-text: var(--aqua) !important;
    --color-prettylights-syntax-markup-inserted-bg: var(--fg0) !important;
    --color-prettylights-syntax-markup-changed-text: var(--bright_red) !important;
    --color-prettylights-syntax-markup-changed-bg: var(--bright_magenta) !important;
    --color-prettylights-syntax-markup-ignored-text: var(--fg0) !important;
    --color-prettylights-syntax-markup-ignored-bg: var(--bright_blue) !important;
    --color-prettylights-syntax-meta-diff-range: var(--bright_blue) !important;
    --color-prettylights-syntax-sublimelinter-gutter-mark: var(--gray) !important;
  }
	
	.iQdLGg .DialogOverflowWrapper {
  	background-color: var(--bg0) !important;
	}
	
	.d-flex {
	  background-color: var(--bg0) !important;
	}
}
